* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background: #1e1f35;
  text-align: center;
}
.text {
  position: fixed;
  bottom: 50%;
  width: 100%;
}
.intro {
  text-align: center;
}
.svg {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.rocket {
  margin: auto;
  width: 100%;
  height: 100vh;
}

.ml5,
.ml6,
.tem {
  font-family: "Roboto Mono", monospace;
  position: relative;
  font-weight: 300;
  font-size: 5vw;
  color: #c0f3f2;
}
.textCap2 {
  font-family: "Roboto Mono", monospace;
  position: relative;
  font-weight: 300;
  font-size: 3vw;
  color: #c0f3f2;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line,
.ml6 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters,
.ml6 .letters {
  display: inline-block;
  opacity: 0;
}
.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}
section .tem span {
  position: relative;
  display: inline-block;
}
.cap2 {
  height: 100vh;
  display: none;
  flex-direction: column;
}
#darkMode {
  width: 100%;
  height: 20%;
  cursor: pointer;
  position: relative;
}
.next {
  margin: auto;
  cursor: pointer;
  width: 12%;
  border-radius: 30px;
  font-family: "Roboto Mono", monospace;
  position: relative;
  font-weight: 400;
  font-size: 2vw;
  border-color: #000000;
  padding: 8px;
  background-color: #00000000;
  color: #000000;
  bottom: 20%;
}

.container {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  display: none;
}
.content {
  margin: auto;
  width: 100%;
  height: 86%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  width: 10%;
  height: 90%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
h3.txtMenu {
  margin: auto;
  text-align: center;
}
.imgMenu {
  margin: auto;
  width: 75%;
  height: 75%;
}
.divleft {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 90%;
  margin: auto;
}
.burguerS {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 30%;
  height: 100%;
  justify-content: space-around;
  display: flex;
}
#icons {
  width: 100%;
  height: 70%;
  margin: auto;
}
.social_media {
  fill: #c0f3f2;
  cursor: pointer;
  height: 100%;
  margin: auto;
  display: flex;
  width: 100%;
}
.social_media :hover {
  fill: #428e82;
}
.navBar {
  display: none;
}
.nav {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 700px) {
  .menu {
    display: none;
  }
  .divleft {
    width: 90%;
  }
  .navBar {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 50%;
    height: 100%;
    display: flex;
  }
  .nav {
    display: flex;
    height: 8%;
    justify-content: space-between !important;
  }
  .btnMenu {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .social_media {
    height: 74%;
  }
  .burguerS {
    width: 45%;
    height: 100%;
    border-radius: 30px;
    justify-content: space-around;
    display: flex;
  }
  #darkMode {
    width: 30%;
    height: 0%;
  }
}
