* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.main {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);;
  text-align: center;
}
.container {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 86%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  width: 10%;
  height: 90%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
h3.txtMenu {
  margin: auto;
  text-align: center;
  font-size: 2.1vh;
  font-weight: 400;
  color: #c0f3f2;
}
.imgMenu {
  cursor: pointer;
  margin: auto;
  width: 75%;
  height: 75%;
}
.divleft {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 90%;
  margin: auto;
}
.burguerS {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 30%;
  height: 100%;
  justify-content: space-around;
  display: flex;
}
#icons {
  width: 100%;
  height: 70%;
  margin: auto;
}
.social_media {
  fill: #c0f3f2;
  cursor: pointer;
  height: 100%;
  margin: auto;
  display: flex;
  width: 100%;
}
.social_media :hover {
  fill: #4adabf;
}
.navBar {
  display: none;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.tittle {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50%;
  height: 100%;
  display: flex;
}
.imgtittle {
  margin-left: 2%;
  margin-right: 2%;
  width: 12%;
  height: 95%;
}
.lnicanor,
.dweb,
.android {
  width: 100%;
  height: 100%;
  margin: auto;
}
.lnicanor{
  margin-top: 5%;
}
.contentWeb {
  display: flex;
  width: 98%;
  height: 55%;
  margin: auto;
}
.dweb,.android {
  display: none;
  flex-direction: column;
}
.contact{
  display: none;
}
#And{
  width: 80%;
  height: 40%;
}
#svgAnd{
  height: 40%;
}
.svgWeb {
  width: 95%;
  height: 35%;
  margin: auto;
  overflow: hidden;
}
.WebContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 100%;
  margin: auto;
  background: rgba(63, 103, 206, 0.11);
  box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(49px);
  border-radius: 20px;
}
.WebBTN {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  height: 65%;
  margin: auto;
}
.txtTittle {
  font-size: 2.3vw;
  margin-bottom: auto;
  margin-top: auto;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #c0f3f2;
}
.txtC {
  font-weight: 400;
  color: #e2e6ef;
  font-size: 1.5vw;
  padding: 0px 10%;
  text-align: revert;
}

.btn1,
.btn2,
.btn3 {
  padding: 8px;
  background: #3f67ce6b;
  box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(49px);
  border-radius: 20px;
  cursor: pointer;
}
.btn1 {
  background: #00a2ad8f;
}
.btn3 {
  padding: 7px;
}

.btnText {
  text-align: start;
  font-weight: 400;
  color: #ceebef;
  font-size: 1vw;
}
.TextWeb {
  font-size: 1.3vw;
  padding: 0 4%;
  text-align: start;
  font-weight: 400;
  color: #ceebef;
}
.tittleMovil{
  display: none;
}
.slider {
        width: 50%;
        margin: 0px auto;
      }

.slick-slide {
  margin: 0px 20px;
}

      .slick-slide img {
        width: 30%;
        margin: auto;
      }

      .slick-prev:before,
      .slick-next:before {
        color: #baddf0;
      }

      .slick-slide {
        transition: all ease-in-out 0.3s;
        opacity: 0;
        display: none;
      }

      .slick-active {
        opacity: 0;
        display: none;
      }

      .slick-current {
        opacity: 1;
      }
      .slick-slide {
    margin: 0px ;
    }
    .txtFomr{
      text-align: end;
      font-size: 1.3vw;
    padding: 0;
    font-weight: 400;
    color: #ceebef;
    }
    .contact{
      justify-content: space-around;
      width: 100%;
      height: 100%;
    }
    .formContact{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 60%;
      height: 100%;
    }
   .input{
     display: flex;
     justify-content: space-between;
   }
    .inputForm {
    background: rgba(35, 33, 39, 0.43);
    box-shadow: inset 0px 0px 11px 2px rgb(0 0 0 / 25%);
    backdrop-filter: blur(74px);
    border-radius: 9px;
    text-align: start;
    font-size: 1.3vw;
    padding: 0;
    font-weight: 400;
    color: #ceebef;
    height: 35px;
    width: 310px;
    border: 5px;
    padding: 5px;
    }
    input:focus-visible {
    outline: none;
    }
    select:focus-visible{
      outline: none;
    }
   select option{
    background-color: #465CED;
    }
    option:hover{
    background-color: #ff0101;
    }
    #txtArea:focus-visible{
     outline: none;
    }
    #send{
      padding-top: 0%;
    width: 126px;
    height: 43px;
    padding-left: 10px;
    border-radius: 50px;
    cursor: pointer;
    }
  #txtArea{
    margin: 0px;
    height: 159px;
    width: 310px;
  }
@media screen and (max-width: 700px) {
  .menu {
    display: none;
  }
  .divleft {
    width: 90%;
  }
  .navBar {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 50%;
    height: 100%;
    display: flex;
  }
  .nav {
    display: flex;
    height: 8%;
    justify-content: space-between !important;
  }
  .btnMenu {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .social_media {
    height: 74%;
  }
  .burguerS {
    width: 45%;
    height: 100%;
    border-radius: 30px;
    justify-content: space-around;
    display: flex;
  }
  .tittle {
    display: none;
  }
  .next {
    width: 27%;
    font-size: 6.5vw;
    bottom: 20%;
  }
  .txtTittleM {
    font-size: 6vw;
    margin-bottom: auto;
    margin-top: auto;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    color: #c0f3f2;
  }
  .imgtittleM {
    width: 15%;
    margin-left: 2%;
    margin-right: 2%;
    height: 95%;
  }
  .tittleMovil{
    font-weight: 600;
    font-size: 4vw;
    display: block;
  }
  .txtC{
    font-size: 3.5vw;
    padding: 0px 5%;
  }
  .slick-next
{
    z-index: 15;
    right: 30px;
}
.slick-prev
{
    z-index: 15;
    left: 30px;
}
.slider{
  width: 65%;
}
.lnicanor{
  height: 80%;
}
.contentWeb{
  flex-direction: column;
}
.WebBTN{
    flex-direction: initial;
    height: 13%;
    width: 100%;
}
.btnText{
  text-align: center;
  font-size: 2.4vw;
}
.btn1,.btn2,.btn3{
  padding: 4px;
  width: 30%;
}
.WebContent{
  height: 73%;
  width: 98%;
}
.TextWeb{
  font-size: 3vw;
}
#svga{
  width: 110%;
}
#textA{
  font-size: 2.8vw;
  text-align: center;
}
#And{
  width: 80%;
  height: 50%;
}
.content{
  height: 75%;
  margin-top: 4%;
}
.inputForm{
  font-size: 3vw;
  width: 195px;
  height: 25px;
}
.txtFomr{
  text-align: center;
    font-size: 3vw;
}
#txtArea {
    margin: 0px;
    height: 90px;
    width: 196px;
}
#send{
  margin-top: -16px;
  transform: scale(0.5);
      width: 200px;
    height: 48px;
    padding-left: 45px;
}
.input{
  flex-direction: column;
}
}
      
